<main>
  <h1 class="text-center">Hrllo World</h1>
  <h2 class="text-end">Hrllo World</h2>
  <h3 >Hrllo World</h3>

  <hr>

  <div class="display-1">Hello world</div>
  <div class="display-5">Hello world</div>
  <div class="display-6">Hello world</div>

  <hr>
<div class="text-muted text-end">
  Додотковый текст
  </div>


  <hr>

  <button class="btn btn-primary">text button </button>
</main>