{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<main>
    <div class="row">
        <div class="col-10">
<div class="card">
<div class="m-3 ">Третьяк Захар</div>
</div>
</div>
<div class="col-2">
<div class="m-3"> Resume project </div> 
</div>

<div class="m-5">
    <hr>
</div>
<div class="col-4">
<div class="display-6 mx-5 mb-3">
<strong>Cписок сторінок</strong>
</div>
<div class="">
Тут вам потрібно написати інформацію про ваш проєкт.
Поки що можна написати будь-який текст
</div>
</div>
</div>
<div class="card">
<div class="row mt-5">
<div class="col-2">
<a href="/bio" class="my-1 ms-2 btn btn-primary ">bio</a> <br>
<a href="/bootstrap" class="my-1 ms-2 btn btn-primary">bootstrap</a><br>
<a href="/car" class="my-1 ms-2 btn btn-primary">car</a><br>
<a href="/education" class="my-1 ms-2 btn btn-primary">education</a><br>
<a href="/facebook" class="my-1 ms-2 btn btn-primary">facebook</a><br>
<a href="/js" class="my-1 ms-2 btn btn-primary">js</a><br>
<a href="/mac" class="my-1 ms-2 btn btn-primary">mac</a><br>
<a href="/person" class="my-1 ms-2 btn btn-primary">person</a><br>
<a href="/program" class="my-1 ms-2 btn btn-primary">program</a><br>
<a href="/shopcart" class="my-1 ms-2 btn btn-primary">shopcart</a><br>
<a href="/shophome" class="my-1 ms-2 btn btn-primary">shophome</a><br>
<a href="/shoporder" class="my-1 ms-2 btn btn-primary">shoporder</a><br>
<a href="/shopreview" class="my-1 ms-2 btn btn-primary">shopreview</a><br>
<a href="/skills" class="my-1 ms-2 btn btn-primary">skills</a><br>
<a href="/summary" class="my-1 ms-2 btn btn-primary">summary</a><br>
<a href="/task21" class="my-1 ms-2 btn btn-primary">task21</a><br>
<a href="/task22" class="my-1 ms-2 btn btn-primary">task22</a><br>
<a href="/task31" class="my-1 ms-2 btn btn-primary">task31</a><br>
<a href="/web" class="my-1 ms-2 btn btn-primary">web</a><br>
<a href="/work" class="ms-2 mb-5 btn btn-primary">work</a>
</div>
</div>
</div>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}